<div id="chat" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center normal">
    <div class="m-12 p-0 content-card" style="border-radius: 10px" fxLayout>
      <div fxFlex="40" class="rightBorder warehouse-bin-side-bar">
        <div class="sidenav-header">
          <mat-toolbar>
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
              <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="s-16">search</mat-icon>
                  <input [(ngModel)]="searchText" type="text" placeholder="Search" fxFlex>
                </div>
              </div>
              <div fxFlex fxLayout="row" fxLayoutAlign="end center">
                <button mat-mini-fab class="mr-8" matTooltip="Add WarehouseBin" (click)="AddWarehouseBin()">
                  <mat-icon aria-label="Add WarehouseBin">add</mat-icon>
                </button>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
        <div class="sidenav-content py-16" fusePerfectScrollbar fxFlex>
          <div *ngFor="let ap of AllWarehouseBins | filter: searchText">
            <div [attr.aria-label]="ap.WarehouseID">
              <div fxLayout="row wrap" fxLayoutAlign="start center" class="side-bar-items" matRipple
                (click)="loadSelectedWarehouseBin(ap)" [ngClass]="{'active accent':ap==SelectedWarehouseBin}">
                <div fxFlex="50" class="p-4" fxLayoutAlign="start center">
                  {{ap.WarehouseID}}
                </div>
                <div fxFlex="50" class="p-4" fxLayoutAlign="end center">
                  {{ap.Area}}
                </div>
                <div fxFlex="50" class="p-4" fxLayoutAlign="start center">
                  {{ap.Section}}
                </div>
                <div fxFlex="50" class="p-4" fxLayoutAlign="end center">
                  {{ap.Bin}}
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="(AllWarehouseBins | filter: searchText).length === 0" class="no-results-message">
            <span class="pl-12"> No results..</span>
          </div>
        </div>
      </div>
      <div fxFlex="60">
        <form class="mat-card mat-elevation-z4 p-24 normal" autocomplete="off" fxLayout="column" fxLayoutAlign="start"
          fxFlex="1 0 auto" name="form" [formGroup]="WarehouseBinFormGroup">

          <div class="h2 mb-24">{{SelectedWarehouseBin.WarehouseID?'Update':'Create'}} WarehouseBin</div>

          <div fxLayout="row wrap" fxLayoutAlign="start">
            <mat-form-field fxFlex="50" class="px-8">
              <input matInput placeholder="WarehouseID" formControlName="WarehouseID"
                [readonly]="SelectedWarehouseBin.WarehouseID">
              <mat-error
                *ngIf="WarehouseBinFormGroup.get('WarehouseID').touched && WarehouseBinFormGroup.get('WarehouseID').hasError('required')">
                Warehouse ID is required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50" class="px-8">
              <input matInput placeholder="Area" formControlName="Area" [readonly]="SelectedWarehouseBin.WarehouseID">
              <mat-error
                *ngIf="WarehouseBinFormGroup.get('Area').touched && WarehouseBinFormGroup.get('Area').hasError('required')">
                Area is required</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="start">
            <mat-form-field fxFlex="50" class="px-8">
              <input matInput placeholder="Section" formControlName="Section"
                [readonly]="SelectedWarehouseBin.WarehouseID">
              <mat-error
                *ngIf="WarehouseBinFormGroup.get('Section').touched && WarehouseBinFormGroup.get('Section').hasError('required')">
                Section is required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50" class="px-8">
              <input matInput placeholder="Bin" formControlName="Bin" [readonly]="SelectedWarehouseBin.WarehouseID">
              <mat-error
                *ngIf="WarehouseBinFormGroup.get('Bin').touched && WarehouseBinFormGroup.get('Bin').hasError('required')">
                Bin is required</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="start">
            <mat-form-field fxFlex="50" class="px-8">
              <input matInput placeholder="Volume" formControlName="Volume">
              <mat-error
                *ngIf="WarehouseBinFormGroup.get('Volume').touched && WarehouseBinFormGroup.get('Volume').hasError('required')">
                Volume is required</mat-error>
              <mat-error *ngIf="WarehouseBinFormGroup.get('Volume').touched && !WarehouseBinFormGroup.get('Volume').hasError('required')
                && WarehouseBinFormGroup.get('Volume').hasError('pattern')">
                Enter valid Volume</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50" class="px-8">
              <input matInput placeholder="Weight" formControlName="Weight">
              <mat-error
                *ngIf="WarehouseBinFormGroup.get('Weight').touched && WarehouseBinFormGroup.get('Weight').hasError('required')">
                Weight is required</mat-error>
              <mat-error *ngIf="WarehouseBinFormGroup.get('Weight').touched && !WarehouseBinFormGroup.get('Weight').hasError('required')
                && WarehouseBinFormGroup.get('Weight').hasError('pattern')">
                Enter valid Weight</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="1 0 auto">
            <mat-form-field fxFlex="50" class="px-8">
              <input matInput placeholder="Capacity Utilized" formControlName="CapacityUtilized">
              <mat-error
                *ngIf="WarehouseBinFormGroup.get('CapacityUtilized').touched && WarehouseBinFormGroup.get('CapacityUtilized').hasError('required')">
                Capacity Utilized is required</mat-error>
              <mat-error *ngIf="WarehouseBinFormGroup.get('CapacityUtilized').touched && !WarehouseBinFormGroup.get('CapacityUtilized').hasError('required')
                && WarehouseBinFormGroup.get('CapacityUtilized').hasError('pattern')">
                Enter valid Capacity Utilized</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="end">
            <button mat-raised-button type="button" (click)="ResetControl()" *ngIf="!SelectedWarehouseBin.WarehouseID"
              style="margin-right:10px">
              Clear
            </button>
            <button mat-raised-button color="warn" type="button" (click)="DeleteClicked()"
              *ngIf="SelectedWarehouseBin.WarehouseID" style="margin-right:10px">
              Delete
            </button>
            <button mat-raised-button color="accent" type="button" (click)="SaveClicked()">
              {{SelectedWarehouseBin.WarehouseID?'Update':'Create'}}
            </button>
          </div>
        </form>
      </div>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion1" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div>