<div id="chat" class="page-layout carded fullwidth inner-scroll">
  <!-- <div class="top-bg accent"></div> -->
  <div fusePerfectScrollbar>
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
      <form name="form" [formGroup]="GRNHeadCreationFormGroup">
        <mat-card class="m-12 p-12" style="border-radius: 10px;">
          <mat-card-header>
            <mat-card-title class="my-4 boldClass">
              Create GRN
            </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <div fxLayout class="mt-8">
              <div fxFlex="25" fxLayout>
                <div fxFlex="25" class="labelClass" fxLayoutAlign="end start">Vendor</div>
                <mat-form-field appearance="outline" class="ml-8 mr-12" fxflex="75">
                  <!-- <mat-select style="min-width: 150px" matInput formControlName="GRNHeadType">
                    <mat-option *ngFor="let temp of AllGRNHeads" [value]="temp.GRNHeadType">
                      {{temp.GRNHeadType}}
                    </mat-option>
                  </mat-select> -->
                  <input matInput formControlName="Vendor">
                  <mat-error
                    *ngIf="GRNHeadCreationFormGroup.get('Vendor').touched &&  GRNHeadCreationFormGroup.get('Vendor').hasError('required')">
                    Vendor is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="25" fxLayout>
                <div fxFlex="25" class="labelClass ml-12" fxLayoutAlign="end start">Truck number</div>
                <mat-form-field appearance="outline" class="ml-8 mr-12" fxflex="75">
                  <input matInput formControlName="TruckNumber"
                    pattern="^([A-Z|a-z]{2}\s{1}\d{2}\s{1}[A-Z|a-z]{1,2}\s{1}\d{1,4})?([A-Z|a-z]{3}\s{1}\d{1,4})?$">
                  <mat-error
                    *ngIf="GRNHeadCreationFormGroup.get('TruckNumber').touched &&  GRNHeadCreationFormGroup.get('TruckNumber').hasError('required')">
                    Truck number is required
                  </mat-error>
                  <mat-error *ngIf="GRNHeadCreationFormGroup.get('TruckNumber').touched &&  !GRNHeadCreationFormGroup.get('TruckNumber').hasError('required')
                  && GRNHeadCreationFormGroup.get('TruckNumber').hasError('pattern')">
                    Enter valid truck number
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="25" fxLayout>
                <div fxFlex="25" class="labelClass ml-12" fxLayoutAlign="end start">Challan date</div>
                <mat-form-field appearance="outline" style="max-width: 205px;" class="ml-8 mr-12" fxflex="75">
                  <input matInput [matDatepicker]="picker" formControlName="ChallanDate">
                  <mat-datepicker-toggle matSuffix [for]="picker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error
                    *ngIf="GRNHeadCreationFormGroup.get('ChallanDate').touched &&  GRNHeadCreationFormGroup.get('ChallanDate').hasError('required')">
                    Challan date is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="25" fxLayout>
                <div fxFlex="25" class="labelClass ml-12" fxLayoutAlign="end start">Challan no.</div>
                <mat-form-field appearance="outline" class="ml-8 mr-12" fxflex="75">
                  <input matInput formControlName="ChallanNumber">
                  <mat-error
                    *ngIf="GRNHeadCreationFormGroup.get('ChallanNumber').touched &&  GRNHeadCreationFormGroup.get('ChallanNumber').hasError('required')">
                    Challan number is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="m-12 p-0" style="border-radius: 10px;">
          <div fxLayout>
            <div fxFlex="99.9">
              <mat-card class="p-0 m-12 mat-elevation-z8">
                <div fxLayout="row" class="pt-8">
                  <div fxFlex class="boldClass pl-12">GRN Items</div>
                  <div fxFlex align="end">
                    <img class="pr-8" matTooltip="Add" (click)="AddGRNItem()" src="assets/images/plus.png">
                    <!-- <img class="pl-8 pr-16" matTooltip="Remove" (click)="RemoveGRNItem()"
                        src="assets/images/remove.png"> -->
                  </div>
                </div>
                <div fxLayout="row" class="borderTop mt-4"></div>
                <table *ngIf="GRNItemDataSource?.value?.length" mat-table [dataSource]="GRNItemDataSource"
                  class="mat-elevation-z8" formArrayName="GRNItems" style="width: 100% !important;">
                  <tr mat-header-row *matHeaderRowDef="GRNItemColumns; sticky: true">
                  </tr>
                  <tr mat-row *matRowDef="let row;let i = index; columns: GRNItemColumns;"></tr>

                  <ng-container matColumnDef="Code">
                    <th mat-header-cell *matHeaderCellDef class="boldItalicClass"> Code </th>
                    <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index" class="pr-8">
                      <!-- <input matInput formControlName="Code"> -->
                      <mat-select style="min-width: 100px" matInput formControlName="Code">
                        <mat-option *ngFor="let temp of AllArticles" [value]="temp.Code">
                          {{temp.Code}}
                        </mat-option>
                      </mat-select>
                      <span class="pl-4 errorClass" *ngIf="GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('Code').touched &&
                    GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('Code').hasError('required')">
                        *
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef class="boldItalicClass"> Description </th>
                    <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                      <input matInput formControlName="Description">
                      <span class="pl-4 errorClass" *ngIf="GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('Description').touched &&
                    GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('Description').hasError('required')">
                        *
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Batch">
                    <th mat-header-cell *matHeaderCellDef class="boldItalicClass"> Batch </th>
                    <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                      <input matInput formControlName="Batch">
                      <span class="pl-4 errorClass" *ngIf="GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('Batch').touched &&
                    GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('Batch').hasError('required')">
                        *
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="ManufacturedDate">
                    <th mat-header-cell *matHeaderCellDef class="boldItalicClass"> MF. Date </th>
                    <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                      <input matInput [matDatepicker]="picker1" formControlName="ManufacturedDate"
                        (click)="picker1.open()">
                      <!-- <mat-datepicker-toggle matSuffix [for]="picker1">
                      </mat-datepicker-toggle> -->
                      <mat-datepicker #picker1></mat-datepicker>
                      <span class="pl-4 errorClass"
                        *ngIf="GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('Batch').touched &&
                      GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('ManufacturedDate').hasError('required')">
                        *
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Quantity">
                    <th mat-header-cell *matHeaderCellDef class="boldItalicClass"> Quantity </th>
                    <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                      <input matInput formControlName="Quantity">
                      <span class="pl-4 errorClass" *ngIf="GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('Quantity').touched &&
                      GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('Quantity').hasError('required')">
                        *
                      </span>
                      <span class="pl-4 errorClass" *ngIf="GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('Quantity').touched &&
                      !GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('Quantity').hasError('required')&&
                      GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('Quantity').hasError('pattern')">
                        *
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="UOM">
                    <th mat-header-cell *matHeaderCellDef class="boldItalicClass"> UOM </th>
                    <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index" class="pr-8">
                      <!-- <input matInput formControlName="UOM"> -->
                      <mat-select style="min-width: 100px" matInput formControlName="UOM">
                        <mat-option *ngFor="let temp of AllUOMs" [value]="temp.Code">
                          {{temp.Code}}
                        </mat-option>
                      </mat-select>
                      <span class="pl-4 errorClass" *ngIf="GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('UOM').touched &&
                      GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('UOM').hasError('required')">
                        *
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="ExpiredDate">
                    <th mat-header-cell *matHeaderCellDef class="boldItalicClass">Exp. Date </th>
                    <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                      <input matInput [matDatepicker]="picker2" formControlName="ExpiredDate" (click)="picker2.open()">
                      <!-- <mat-datepicker-toggle matSuffix [for]="picker2">
                      </mat-datepicker-toggle> -->
                      <mat-datepicker #picker2></mat-datepicker>
                      <span class="pl-4 errorClass"
                        *ngIf="GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('ExpiredDate').touched &&
                        GRNHeadCreationFormGroup.get('GRNItems').controls[index].get('ExpiredDate').hasError('required')">
                        *
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef class="boldItalicClass">Action</th>
                    <td mat-cell *matCellDef="let row;let index = index" class="centerAlignClass">
                      <!-- <mat-icon>image</mat-icon> -->
                      <img matTooltip="Remove" (click)="RemoveGRNItem(index)" class="imgClass"
                        src="assets/images/remove.png">
                    </td>
                  </ng-container>

                </table>
              </mat-card>
              <div fxLayout="row" class="m-12">
                <div fxFlex fxLayoutAlign="end center">
                  <button mat-raised-button color="accent" (click)="SubmitClicked()">Proceed</button>
                </div>
              </div>
            </div>
            <div fxFlex="0.1">
              <div style="min-height:40vh !important;"></div>
            </div>
          </div>
        </mat-card>
      </form>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion1" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div>